img {
    display: block;
    width: 300px;
    height: 200px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

main {
    padding: 16px;
}

footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-right: 0px;
    padding-left: 0px;
    background-color: peachpuff;
    padding: 30px;
    margin-top: 30px;
    border-color: black;
    border-style: solid;
}

nav {
    border-style: solid;
    border-color: black;
    border-bottom: 1px;
    padding: 16px;
}

header {
    border-color: black;
    border-style: solid;
    background-color: peachpuff;

}

.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    grid-auto-rows: minmax(100px, auto);

}
